<!DOCTYPE html>
<html>
<head>
	<title>Westeros At War</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/war.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
	
	<header class="head">
		<div class="title">Wesbestos At War</div>
		<div ng-app="options" ng-controller="optionsController" class="options">
			<a class="navs" href="#">King Ratings</a>
			<a class="navs" href="#">Developer</a>
			<img class="no-nav" src="more_vert.svg" />
		</div>
	</header>

	<div class="rating-container">
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the score into this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
		<div class="rating-card">
			<img class="king-pics" src="index.jpg" width="300" height="300" />
			<div class="king-name desc">King Title</div>
			<div class="rating desc">Rank:
				<span class="rank">
					<!-- Get the scoreinto this dynamically ... -->	
				</span>
			</div>
			<div class="info-panel">
				<span class="king-info desc">More Info</span>
				<img class="info-display" ng-click="showDetails()" src="more_vert_black.svg" />
			</div>
		</div>
	</div>

	<footer></footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/war.js"></script>
</body>
</html>